body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 177, 245);
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}

.containerTwo {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input, button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input {
    width: 200px;
    background-color: white;
    color: black;
}

button {
    background-color: rgb(17, 177, 245);
    color: white;
}

button:hover {
    background-color: rgb(12, 140, 195);
}

#backToHome {
    background-color: rgb(255, 59, 48);
}

#backToHome:hover {
    background-color: rgb(255, 0, 0);
}

/* Hide the "Back to Home" button by default */
.hidden {
    display: none;
}